<div>
  <mat-card>
    <mat-card-title>LISTA DE USUARIOS
      <div class="btn-action">
        <button mat-button type="button" icon="fa-plus" color="accent" class="new-action" (click)="newUser()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>NUEVO</span>
        </button>
      </div>
    </mat-card-title>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element._id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nomvres</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.first_name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ape">
          <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.last_name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button type="button" color="primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button mat-button type="button" color="warn">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card>


</div>
<hr> {{action}} - {{display}}
<!-- <hr> {{ users | json }} -->

<div>

</div>
